@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 56% 91%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 7 78% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 60 10% 96%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 60 10% 85%;
    --muted-foreground: 24 9.8% 10%;
    --accent: 345 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 15% 80%;
    --input: 60 15% 85%;
    --ring: 7 78% 52%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 60 50% 95%;
    --card: 20 10% 10%;
    --card-foreground: 60 50% 95%;
    --popover: 20 10% 10%;
    --popover-foreground: 60 50% 95%;
    --primary: 7 78% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 20 10% 15%;
    --secondary-foreground: 60 50% 95%;
    --muted: 20 10% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 345 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 20%;
    --input: 20 10% 20%;
    --ring: 7 78% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
